*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

body{
 color: black;
 background-color: #348DE0;
 font-size: 18px;
 font-style: sans-serif;

}

section{
 		display: flex;
  		flex-direction: column;
}
h1{
	text-align: center;
}
form{
     margin: auto;
     max-width: 350px;

}
input{
 color: black;
 padding-left: 5px;
 background-color: inherit;
 border: none;
 border-bottom: 1px solid black;
 width: 88%;
 height: 30px;
}
input::placeholder {
	color:black;
}
a{
 margin-top: 20px;
 display: block;
 width: 90%;
 background-color: white;
 padding: 15px 0;
 color: black;
 text-align: center;
 text-decoration : none 
}

